a{
    margin: 10px;
}

.home {
    text-align: center;
    width: 100%;
}
.box{
    padding: 10px;
    margin: 10px;
    background-color: blue;
    color: white;
    border-radius: 10px;
}

.main-box{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.show{
    background-color: white;
    color: black;
}